<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<html>
  <body>

    <!--
    {% load static %}
    <img src="{% static 'render/gv_logo.png' %}" />
    -->

    <div class="main">
      {% load static %}
      <img src="{% static 'render/gv_logo.png' %}" />

      <table cellpadding = 10>
	<tr>
	  <td align=center>
	    <h1> GVSU Enrollment </h1>
	  </td>
	</tr>
	<tr>
	  <td>
	    {% autoescape off %}
	    {{ plot_div }}
	    {% endautoescape %}
	  </td>
	</tr>
      </table>
    </div>


  </body>
</html>

